.fieldset {
  display: flex;
  margin: 0;
  border: 1.5px solid rgba(170, 170, 170, 0.2);
  border-radius: 8px;
  padding: 10px 10px 10px 25px;
  width: 100%;
}

@media screen and (max-width: 548px) {
  .fieldset {
    padding: 6px 6px 6px 12px;
  }
}
