.fieldset {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-shrink: 1;
  height: 72px;
  align-content: space-between;
  margin: 0;
  box-sizing: border-box;
  border: 1.5px solid rgb(170, 170, 170, 0.2);
  border-radius: 8px;
  padding: 8.5px 8.5px 8.5px 23.5px;
  width: 100%;
}

@media screen and (max-width: 548px) {
  .fieldset {
    height: 56px;
    padding: 4.5px 4.5px 4.5px 10.5px;
  }
}
