.nav-tab {
  flex-basis: calc(100% - 40px * 2);
  background-color: rgb(245, 245, 245);
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  border-radius: 0 0 10px 10px;
}

.nav-tab__link{
  display: flex;
  justify-content: center;
  text-decoration: none;
  flex-basis: 96px;
  min-width: 82px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: rgb(232, 232, 232);
  margin: 0 5px;
  color: rgb(0, 0, 0);
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .nav-tab {
    flex-basis: calc(100% - 20px * 2);
  }
}

@media screen and (max-width: 548px) {
  .nav-tab {
    flex-basis: calc(100% - 14px * 2);
    padding-bottom: 17px;
  }

  .nav-tab__link {
    padding: 5px 0;
    font-size: 10px;
  }
}
